  milvus_data:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - neo4j
      - milvus
      - redis
    volumes:
      - .:/app

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password # DO NOT use this in production
    volumes:
      - neo4j_data:/data

  milvus:
    image: milvusdb/milvus:v2.3.0
    ports:
      - "19530:19530"
      - "9091:9091"
    environment:
      - "ETCD_USE_EMBED=true"
      - "ETCD_DATA_DIR=/var/lib/milvus/etcd"
      - "COMMON_STORAGETYPE=local"
    volumes:
      - milvus_data:/var/lib/milvus

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A graph_rag.celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - app
    volumes:
      - .:/app

volumes:
  neo4j_data:
  milvus_data:
