fastapi
uvicorn[standard]
pydantic
pydantic-settings
requests
python-dotenv
neo4j
pymilvus
langchain
langgraph
langchain-community
langchain-aws
langchain-openai
boto3
fastapi-cors
httpx
sshtunnel
psycopg2-binary
gunicorn
slowapi
celery
redis